.MissionVision {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 32px 64px;
    margin: 30px 20px 100px;
    color: var(--secondary);
    /* max-width: 1000px; */
    background-color: white;
    border-radius: 20px;
}

.MV_head {
    font-size: 48px;
    color: #0000c4;
    font-family: 'myfontbold';
    font-weight: 800;
    margin-bottom: 32px;
}

.WCU_card {
    display: grid;
    grid-template-columns: 120px auto;
    gap: 32px;
    padding: 20px;
    background-color: var(--grey);
    border-radius: 20px;
    text-align: left;
    width: 100%;
    max-width: 800px;
    align-self: flex-start;
}

.WCU_card.right {
    grid-template-columns: auto 120px;
    align-self: flex-end;
    text-align: right;
}

.WCU_img {
    width: 100%;
}

.WCU_img img {
    object-fit: contain;
    width: 100%;
}

.WCU_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.WCU_content.right{
    align-items: flex-end;
}

.WCU_head{
    font-size: 30px;
    font-weight: 700;
    color: var(--primary);
}
.WCU_text{
    font-size: 15px;
    max-width: 500px;
}