.TrendingProd{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 80px;
    padding: 32px 0px 80px;
}

.TP_head{
    font-size: 32px;
    color: var(--secondary);
}

.TP_cardsFlex{
    display: flex !important;
    width: 100%;
    padding-bottom: 32px;
    /* justify-content: center; */
    /* gap: 20px; */
}

.swiper-slide{
    /* margin: 0 25px !important; */
}

.swiper{
    /* padding-bottom: 60px; */
}
