.TrendingProd {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 60px;
    padding: 32px 0px 80px;
}

.TP_head {
    font-size: 32px;
    color: var(--secondary);
}

.TP_cardsFlex {
    display: flex !important;
    width: 100%;
    padding-bottom: 32px;
    /* justify-content: center; */
    /* gap: 20px; */
}

.swiper-slide {
    transition: transform 100ms ease-in-out;
    transform: scale(0.9, 0.9);
}

.swiper-slide-active {
    transform: scale(1.1, 1.1);
    /* margin: -20px 0 20px; */
}

.swiper {
    /* padding-bottom: 60px; */
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 20px !important;
    background-color: var(--primary);
    color: var(--secondary);
    color: white;
    font-weight: 700;
    min-height: 30px;
    min-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 5px 10px #0000001a;
}

.swiper-button-prev{
    left: 34% !important;
}

.swiper-button-next{
    right: 34% !important;
}