.Collection {
    display: flex;
    gap: 20px;
    text-align: left;
    padding: 32px 64px;
}

.collectionSidebar {
    width: 100%;
    max-width: 220px;
}

.C_searchDiv {
    display: flex;
    gap: 16px;
    flex-direction: column;
    background-color: white;
    padding: 24px 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #0000001a;
    margin-bottom: 20px;
}

.C_FilterDiv {
    display: flex;
    gap: 16px;
    flex-direction: column;
    background-color: white;
    padding: 24px 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #0000001a;
}

.C_searchHead {
    font-weight: 700;
    font-size: 15px;
    color: #737373;
}

.C_categoryItem {
    font-size: 12px;
    margin: 2px 0;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    text-transform: uppercase;
}
.C_categoryItem:hover{
    font-weight: 700;
}

.collectionMainbar {
    width: 100%;
    background-color: white;
    padding: 24px 40px 64px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #0000001a;
}


.C_MainHead {
    font-size: 32px;
    color: #737373;
}

.C_productsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 48px;
    margin-top: 32px;
}

.C_productItem {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    cursor: pointer;
    width: 100%;
}

.C_prodImg {
    width: 100%;
    box-shadow: 0px 5px 10px #0000001a;
    border-radius: 16px;
    transition: all 100ms ease-in-out;
}
.C_prodImg:hover{
    box-shadow: 0px 5px 10px #00000050;
}

.C_prodImg>img {
    object-fit: cover;
    border-radius: 16px;
    width: 100%;
    height: 100%;
}

.C_prodText {
    color: #737373;
    font-weight: 700;
    font-size: 15px;
}



.modalContainer{
    position: fixed;
    inset: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.486);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.modal{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 800px;
}

.prod_Flex{
    display: flex;
    gap: 20px;
}

.prod_Img{
    width: 100%;
    min-height: 300px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #0000001a;
    padding: 20px 40px;
    background-color: white;
}
.prod_Img img{
    width: 100%;
    border-radius: 10px;
    height: 100%;
    object-fit: contain;
    /* margin: 16px; */
}

.prod_Content{
    width: 100%;
    min-height: 300px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #0000001a;
    background-color: white;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.prod_modelno{
    font-size: 24px;
    color: var(--secondary);
    font-weight: 500;
}
.prod_category{
    font-size: 15px;
    color: var(--primary);
    /* font-weight: 500; */
}
.prod_features{
    font-size: 12px;
    padding-left: 16px;
    border-top: 1px solid #a6a6a6;
    padding-top: 16px;
}


.prod_btnDiv{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #0000001a;
    padding: 20px 0;
    background-color: white;
    display: flex;
    justify-content: center;
}

.prod_btn{
    background-color: var(--primary);
    color: white;
    padding: 14px 32px;
    font-size: 24px;
    border-radius: 10px;
    border: none;
}