.HomeMain{
    /* padding: 114px 20px 32px; */
    /* min-height: calc(100vh - 146px); */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    gap: 60px;
}

.mainHeader{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    justify-items: center;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    background-image: url(../../../assets/main.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    color: white;
    /* border-radius: 20px; */
}

.mainHeading{
    font-size: 68px;
}

.mainText{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    max-width: 370px;
    text-align: left;
    margin-top: 66px;
}

.mainTagline{
    font-size: 20px;
    /* font-style: italic; */
    /* font-family: ; */
    margin-bottom: 12px;
}

.italic{
    font-style: italic;
    padding-right: 6px;
}

.orange{
    color: var(--primary);
}
.blue{
    /* color: var(--primary); */
    /* color: white; */
}

.button{
    border-radius: 30px;
    background-color: var(--secondary);
    color: white;
    border: none;
    padding: 6px 16px;
}

.mainImg{
    /* width: 100%; */
    height: 260px;
    border-radius: 40px;
}
.mainImg img{
    object-fit: contain;
    height: 100%;
    border-radius: 40px;
    max-height: 100%;
}